# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/

# VSCode settings
.vscode/

# System files
.DS_Store

# Data files (optional)
*.csv
*.xlsx
*.pkl
*.h5
*.zip

# Model files
*.h5
*.pth
*.pt

# Outputs
outputs/
logs/
